body{
    background-color: #df6767;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background-color: #181A18 ;
    position: absolute;
    min-height: 610px;
    max-height: 610px;
    min-width: 350px;
    left: 40%;
    top: 10vw;
    border-radius: 30px;
}

#screen{
    background-color: grey;
    min-height: 110px;
    min-width: 350px;
    max-height: 100px;
    margin: 11px;
    margin-top: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.button-panel{
    height: 75%;
    width: 100%;
    padding-top: 1px;
    margin-top: 20px;
    margin-left: 1px ;
    position: absolute;
    text-align: center;
    
}

button{
    width:80px;
    height: 80px;
    margin:2px auto;
    border-radius: 10px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    border-style: none;
    
}

button:hover{
    background-color: #D0D0D0;
}

#equals-button{
    width:160px;
    background-color: #1167b1;
    color: white;
}

#equals-button:hover{
    background-color: #0f599a;
}

#reset-button{
    background-color: #d57a24;
    color: white; 
}
#reset-button:hover{
    background-color: #bf6e20 ;
}

#result{
    position: absolute;
    z-index: 999;
    right: 10px;
    top: -50px;
    font-size: 65px;
    font-family: 'Montserrat', sans-serif;
}


